/* main body defination */

.main-body {
  margin-top: 33px; 
  margin-left: 15%;
  margin-right: 15%;
}

/*Social secction*/
  
.running-text {
  float: left;
  width: 100%;
  font-size: 17px;
  font-weight: lighter;
  background-color: #F7EDC3;
  border-radius: 2px;
}

/* Navigation bar section */

.baring {
  margin-top: 15px;
   background-color: #438AB7;
   border-radius: 12px;
    padding: 1px 2px;
  
}

li a, .dropbtn {
  background-color: Transparent;
  display: inline-block;
  margin-left: 5px;
  color: black;
  padding: 5px;
  font-size: 14px;
  border: none;
  border-radius: 8px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #E4F0FA;
  font-size: 12px;
  min-width: 180px;
  box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.2);
  border-radius: 20px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 5px 16px;
  text-decoration: #404040;
  flood-color: #404040;
  display: block;
}

.dropdown-content a:hover {
  background-color: #498DB9;
  border-radius: 20px;
}

li a:hover{background-color: #E4F0FA;}

.dropdown:hover .dropbtn {background-color: #E4F0FA;}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {display: block;} 

.dashboard
{
  border: 1px solid green;
  background-color: #F7EDC3;
  font-size: 14px;
}

/* fines section */

.fines_dues {
  margin-left: 2%;
  border: 2px solid gray;
  height: 400px;
  width: 46%;
  display: inline-block;
}

.fines_dues p {
  text-align: center;
  font-size: 20px;
}

.lining {
  margin-top: 2%;
  border: 2px solid gray;
  border-left: none;
  border-right: none;
  border-bottom: none;
  width: 100%;
  height: 100%;
}

.pay {
  margin-top: 4%;
  margin-left: 50%;
  margin-bottom: 5%;
}

.btn {
  float: right;
  margin-top: 15px;
}

/* Responsive */

@media only screen and (max-width: 480px){
.main-body {
  margin-top: 33px; 
  margin-left: 0%;
  margin-right: 0%;
}

}


